.post-preview {
    border: 1px solid var(--nord4);
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px 5px;
}

.post-preview-title {
    font-weight: 600;
}

.post-preview-user {
    text-decoration: underline;
}
